name: CI

on:
  push:
    branches:
      - 'master'
      - '[0-9].[0-9]+'  # matches to backport branches, e.g. 3.6
    tags: [ 'v*' ]
  pull_request:
    branches:
      - 'master'
      - '[0-9].[0-9]+'
  schedule:
    - cron:  '0 6 * * *'  # Daily 6AM UTC build


jobs:
  lint:
    name: Linter
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
    - name: Cache PyPI
      uses: actions/cache@v2
      with:
        key: pip-lint-${{ hashFiles('setup.cfg', 'requirements.txt') }}
        path: ~/.cache/pip
        restore-keys: |
            pip-lint-
    - name: Install dependencies
      uses: py-actions/py-dependency-install@v3
      with:
        path: requirements.txt
    - name: Install itself
      run: |
        pip install -e .
    - name: Run linter
      run: |
        make lint

  test:
    name: Test
    strategy:
      matrix:
        pyver: ['3.7', '3.8', '3.9', '3.10']
        os: [ubuntu, windows]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 30
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.pyver }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.pyver }}
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"    # - name: Cache
    - name: Cache PyPI
      uses: actions/cache@v2
      with:
        key: pip-ci-${{ runner.os }}-${{ matrix.pyver }}-${{ hashFiles('setup.cfg', 'requirements.txt') }}
        path: ${{ steps.pip-cache.outputs.dir }}
        restore-keys: |
            pip-ci-${{ runner.os }}-${{ matrix.pyver }}-
    - name: Install dependencies
      uses: py-actions/py-dependency-install@v3
      with:
        path: requirements.txt
    - name: Install itself
      run: |
        pip install -e .
    - name: Run unittests
      run: |
        make cov
    - name: Generate coverage XML
      run: |
        coverage xml
    - name: Upload coverage artifact
      uses: aio-libs/prepare-coverage@v21.9.1
      with:
        key: e2e-${{ matrix.pyver }}-${{ matrix.os }}

  check:
    name: Test matrix status
    needs: [lint, test]
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
    - name: Upload coverage
      uses: aio-libs/upload-coverage@v21.9.4

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: release
    needs: check
    # Run only on pushing a tag
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install -U pip build
    - name: Make dists
      run: |
        python -m build
    - name: Release
      uses: aio-libs/create-release@v1.6.4
      with:
        changes_file: CHANGES.rst
        name: aioloop-proxy
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_token: ${{ secrets.PYPI_API_TOKEN }}
        check_ref: ${{ github.ref }}
        fix_issue_regex: ":issue:`(\\d+)`"
        fix_issue_repl: "(#\\1)"
